<ion-view view-title="Help" class="changeBG">
  <ion-content class="has-header">
        <div class="card">
            <img class="" src="img/saLogo.png" alt="logo" />
        </div>        
        <div class="card">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/tgIqecROs5M" frameborder="0" width="560" height="315"></iframe>
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/tgIqecROs5M" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
        <button type="button" class="button button-block icon-right ion-checkmark button-khatm2"
                style="font-size:16px; color:gainsboro">
            Thank You
        </button>
  </ion-content>
</ion-view>
